<p id="notice"><%= notice %></p>

<h1>Adicionals</h1>

<table>
  <thead>
    <tr>
      <th>Valoradicional</th>
      <th>Descricaoadicional</th>
      <th>Statusadicional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adicionals.each do |adicional| %>
      <tr>
        <td><%= adicional.valorAdicional %></td>
        <td><%= adicional.descricaoAdicional %></td>
        <td><%= adicional.statusAdicional %></td>
        <td><%= link_to 'Show', adicional %></td>
        <td><%= link_to 'Edit', edit_adicional_path(adicional) %></td>
        <td><%= link_to 'Destroy', adicional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adicional', new_adicional_path %>
