<p id="notice"><%= notice %></p>

<p>
  <strong>Valoradicional:</strong>
  <%= @adicional.valorAdicional %>
</p>

<p>
  <strong>Descricaoadicional:</strong>
  <%= @adicional.descricaoAdicional %>
</p>

<p>
  <strong>Statusadicional:</strong>
  <%= @adicional.statusAdicional %>
</p>

<%= link_to 'Edit', edit_adicional_path(@adicional) %> |
<%= link_to 'Back', adicionals_path %>
