<div class="container">
  <div class="col-md-6 col-md-push-3">
    <div class="box">
      <h2>Cadastrar</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field form-group">
          <%= f.label :Nome_completo %><br />
          <%= f.text_field :nomeCliente, class:"form-control", autofocus: true %>
        </div>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control", autocomplete: "email" %>
        </div>

        <div class="field form-group">
          <%= f.label :Senha %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class:"form-control", autocomplete: "off" %>
        </div>

        <div class="field form-group">
          <%= f.label :Confirmação_senha %><br />
          <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off" %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Sign up", class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
<br>