<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricaoProduto %>
    <%= form.text_field :descricaoProduto %>
  </div>

  <div class="field">
    <%= form.label :precoProduto %>
    <%= form.text_field :precoProduto %>
  </div>

  <div class="field">
    <%= form.label :imagemProduto %>
    <%= form.text_field :imagemProduto %>
  </div>

  <div class="field">
    <%= form.label :statusProduto %>
    <%= form.check_box :statusProduto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
